body {
    background: rgb(255, 217, 91);
    color: rgb(38, 133, 133);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(139, 233, 217)
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;   
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #57c4be;
}

/* main container area beneath menu */
main {
    background: rgb(255, 243, 212);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(116, 246, 255) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

         /* portfolio styles */
         .content h1 {
            color: rgb(255, 183, 195);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #fff780f5;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #a7f5ff;
        }

        #portfolio a {
            text-decoration: none;
            color: #388d9c;
        }