
body {
  background-color: rgb(125, 255, 131);
}

#board {
  width: 440px;
  height: 440px;
  border: 5px solid white;
  background-color: black;
  position: relative;
}

#walker {
  background-color: rgb(255, 124, 36);
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  left: 100px;
  top: 100px;
  right: 100px;
  bottom: 100px;  
}
