
body {
  background-color: rgb(255, 240, 155);
}

#board {
  width: 440px;
  height: 440px;
  border: 3px solid rgb(255, 152, 212);
  background-color: black;
}

#score, #highScore {
  color: rgb(255, 128, 192);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(255, 109, 158);
  z-index: 2;
}

#snake-head {
  background-color: rgb(255, 109, 158);
}

.apple {
  background-color: rgb(187, 255, 110);
  z-index: 1;
}